/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

.navbar a {
  display: none;
}
.navbar a.icon {
  float: right;
  display: block;
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */

.navbar.responsive {
  position: relative;
}
.navbar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar.responsive a {
  float: none;
  display: block;
  /* text-align: left; */
}
body{
  /* overflow: hidden; */
}
/* Search */
.search-container {
  display: none;
}

body {
  /* width: 2vw; */
  font-size: 2vw;
  /* overflow: hidden; */
}

/* Help section */
.help-images {
  width: 100%;
  padding-bottom: 1.5rem;
}

/* Support section */
.support-images {
  display: block;
  width: 100%;
}
.support-desc {
  padding-bottom: 2rem;
}
/* Images */
.tab {
  height: 250px;
  max-width: 400px;
  width: 100%;
}
.banner {
  height: 100px;
  max-width: 340px;
  width: 100%;
}
/* Software integration */
.Software {
  padding: 2rem;
  position: none;
}
.grid-container {
  width: 40rem;
}

.box-1,
.box-3,
.box-2,
.box_1 {
  justify-content: center;
  align-items: center;
}
.tree {
  position: relative;
  align-items: center;
  justify-content: center;
  left: 0%;
  bottom: 0%;
}
